<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>square_list</key>
	<array>
		<dict>
			<key>android</key>
			<string>6.8.2|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150532_5078.png</string>
			<key>id</key>
			<string>28</string>
			<key>ipad</key>
			<string>4.2.0|5.0.0</string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审帖</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>9.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/dDjZck.jpg</string>
			<key>id</key>
			<string>136</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审帖</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/g8L1_u.jpg</string>
			<key>id</key>
			<string>137</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>排行榜</string>
			<key>url</key>
			<string>mod://BDJ_To_RankingList</string>
		</dict>
		<dict>
			<key>android</key>
			<string>9.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/19/VjafYH.jpg</string>
			<key>id</key>
			<string>144</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审帖</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/zFKyGM.jpg</string>
			<key>id</key>
			<string>138</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>4.2|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的收藏</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/07/06/p0VaKL.jpg</string>
			<key>id</key>
			<string>151</string>
			<key>ipad</key>
			<string>1.0|</string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>内容贡献榜</string>
			<key>url</key>
			<string>http://m.budejie.com/user/credit.html?from=singlemessage&amp;isappinstalled=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.8.1|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/09/06/_z8EK8.jpg</string>
			<key>id</key>
			<string>164</string>
			<key>ipad</key>
			<string>100.0|</string>
			<key>iphone</key>
			<string>100.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>动态视频桌面</string>
			<key>url</key>
			<string>mod://BDJ_To_WallPaper</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|6.2.3</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150601_1961.png</string>
			<key>id</key>
			<string>31</string>
			<key>ipad</key>
			<string>|</string>
			<key>iphone</key>
			<string>|3.8.01</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>每日排行</string>
			<key>url</key>
			<string>mod://BDJ_To_RecentHot</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.4|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/11/094131_3938.png</string>
			<key>id</key>
			<string>46</string>
			<key>ipad</key>
			<string>3.8|1.0</string>
			<key>iphone</key>
			<string>3.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>排行榜</string>
			<key>url</key>
			<string>mod://BDJ_To_RankingList</string>
		</dict>
		<dict>
			<key>android</key>
			<string>3.8.0|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150609_9589.png</string>
			<key>id</key>
			<string>48</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的收藏</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.0|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/23/182756_5328.png</string>
			<key>id</key>
			<string>55</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>随机穿越</string>
			<key>url</key>
			<string>mod://BDJ_To_Cate@cate=3#type=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/tTaJLV.jpg</string>
			<key>id</key>
			<string>139</string>
			<key>ipad</key>
			<string>4.2.0|5.0.0</string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>随机穿越</string>
			<key>url</key>
			<string>mod://BDJ_To_Cate@cate=3#type=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/15/150052_5490.png</string>
			<key>id</key>
			<string>87</string>
			<key>ipad</key>
			<string>1.0|3.8.2</string>
			<key>iphone</key>
			<string>|4.1</string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi|b-huawei</string>
			<key>name</key>
			<string>游戏大厅</string>
			<key>url</key>
			<string>http://bdj.duantian.cn/?device=budejie&amp;appname=budejie&amp;channelid=199&amp;spid=5&amp;client=android</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2018/10/19/2UVf3a.jpg</string>
			<key>id</key>
			<string>82</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string>guanwang|tencentyingyongbao|360zhushou|baidu|B—huawei|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-huawei|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>彩铃</string>
			<key>url</key>
			<string>https://m.ringbox.cn/m/tem&amp;00000741010451.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2018/11/06/20181106161442689391.png</string>
			<key>id</key>
			<string>219</string>
			<key>ipad</key>
			<string>4.0.0|5.0.1</string>
			<key>iphone</key>
			<string>4.0.0|5.0.1</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>58同城</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1aeyp297pnc4f21</string>
		</dict>
		<dict>
			<key>android</key>
			<string>8.0.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2018/11/23/20181123184900821347.png</string>
			<key>id</key>
			<string>226</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string>guanwang|b-huawei|tencentyingyongbao|360zhushou|baidu|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>58同城</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1aeyp297pnc4f21</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2018/11/06/20181106160006371382.png</string>
			<key>id</key>
			<string>218</string>
			<key>ipad</key>
			<string>4.0.0|5.0.1</string>
			<key>iphone</key>
			<string>4.0.0|5.0.1</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>二手房</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1ajyta3v43nkddh1</string>
		</dict>
		<dict>
			<key>android</key>
			<string>8.0.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2018/11/23/20181123184206550539.png</string>
			<key>id</key>
			<string>224</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string>guanwang|b-huawei|tencentyingyongbao|360zhushou|baidu|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>二手房</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1ajyta3v43nkddh1</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.0|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/04/18/M9szJI.jpg</string>
			<key>id</key>
			<string>140</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>意见反馈</string>
			<key>url</key>
			<string>http://m.d.budejie.com/feedback/index.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string>8.0.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2018/11/23/20181123184555701340.jpg</string>
			<key>id</key>
			<string>225</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>彩铃</string>
			<key>url</key>
			<string>https://m.ringbox.cn/m/tem&amp;00000741010452.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.0|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/03/03/0iOxqq.jpg</string>
			<key>id</key>
			<string>149</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>联通免流量</string>
			<key>url</key>
			<string>mod://BDJ_To_FreeTraffic</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.8.0|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2018/07/06/yBhKX8.jpg</string>
			<key>id</key>
			<string>169</string>
			<key>ipad</key>
			<string>4.2.0|</string>
			<key>iphone</key>
			<string>4.2.0|</string>
			<key>market</key>
			<string>guanwang|b-huawei|tencentyingyongbao|360zhushou|baidu|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>58同城</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1aeyp297pnc4f21</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.9.2|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2016/02/02/170412_6546.png</string>
			<key>id</key>
			<string>122</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.5.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>百思会员</string>
			<key>url</key>
			<string>mod://BDJ_To_VipPay</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.6.2|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2016/12/30/jeGT_O.jpg</string>
			<key>id</key>
			<string>160</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.5.1|4.5.8</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>百思交友</string>
			<key>url</key>
			<string>http://d.api.budejie.com/square/login/?next=msite</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.3|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/07/12/BtaWlt.jpg</string>
			<key>id</key>
			<string>162</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>咪咕悦读会</string>
			<key>url</key>
			<string>http://m.budejie.com/partner/migu.html</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2018/10/22/UasoJy.jpg</string>
			<key>id</key>
			<string>171</string>
			<key>ipad</key>
			<string>4.2.0|5.0.0</string>
			<key>iphone</key>
			<string>4.2.0|5.0.0</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>二手房</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1ajyta3v43nkddh1</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.9.9|7.0.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/07/30/172608_7159.png</string>
			<key>id</key>
			<string>83</string>
			<key>ipad</key>
			<string>100.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>下载视频</string>
			<key>url</key>
			<string>mod://App_To_MyVideo</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.7.3|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2017/07/07/kgVnDv.jpg</string>
			<key>id</key>
			<string>161</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string>c-oppo</string>
			<key>name</key>
			<string>游戏大厅公告</string>
			<key>url</key>
			<string>http://h5.duantian.cn/apptip.html?123</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.8.0|7.0.9</string>
			<key>icon</key>
			<string>http://mstatic.spriteapp.cn//ugc/2018/10/22/lXc0Kj.jpg</string>
			<key>id</key>
			<string>172</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string>guanwang|b-huawei|tencentyingyongbao|360zhushou|baidu|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>二手房</string>
			<key>url</key>
			<string>https://jumpluna.58.com/i/2ct1ajyta3v43nkddh1</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2018/11/26/20181126151630599119.png</string>
			<key>id</key>
			<string>228</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>4.0|5.0</string>
			<key>market</key>
			<string>guanwang|b-huawei|tencentyingyongbao|360zhushou|baidu|91zhushou|anzhuo|yidongmm|B-leshi|B-meizu|xiaomi|wandoujia|leshangdian|taobao|kupaisd|sougousjzs|appchina|C-jinli|S-samsung|B-chuizi|B-aiqiyi|yingyongbao|b-meizu|b-leshi|s-samsung|anzhi|c-jinli|b-chuizi|b-aiqiyi</string>
			<key>name</key>
			<string>小说</string>
			<key>url</key>
			<string>http://h5.kuaiduwenxue.com?acid=9</string>
		</dict>
		<array/>
	</array>
	<key>tag_list</key>
	<array>
		<dict>
			<key>theme_id</key>
			<string>3096</string>
			<key>theme_name</key>
			<string>红人频道</string>
		</dict>
		<dict>
			<key>theme_id</key>
			<string>9</string>
			<key>theme_name</key>
			<string>自拍交友</string>
		</dict>
	</array>
</dict>
</plist>
