<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>bag</string>
		<key>icon</key>
		<string>word_bag</string>
		<key>title</key>
		<string>包</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>book</string>
		<key>icon</key>
		<string>word_book</string>
		<key>title</key>
		<string>书</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>car</string>
		<key>icon</key>
		<string>word_car</string>
		<key>title</key>
		<string>车</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>fist</string>
		<key>icon</key>
		<string>word_fist</string>
		<key>title</key>
		<string>拳头</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>fix</string>
		<key>icon</key>
		<string>word_fix</string>
		<key>title</key>
		<string>修理</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>homework</string>
		<key>icon</key>
		<string>word_homework</string>
		<key>title</key>
		<string>作业</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>house</string>
		<key>icon</key>
		<string>word_house</string>
		<key>title</key>
		<string>房子</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>man</string>
		<key>icon</key>
		<string>word_man</string>
		<key>title</key>
		<string>男人</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>pen</string>
		<key>icon</key>
		<string>word_pen</string>
		<key>title</key>
		<string>笔</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>pig</string>
		<key>icon</key>
		<string>word_pig</string>
		<key>title</key>
		<string>猪</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>teach</string>
		<key>icon</key>
		<string>word_teach</string>
		<key>title</key>
		<string>老师</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>watch</string>
		<key>icon</key>
		<string>word_watch</string>
		<key>title</key>
		<string>手表</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>woman</string>
		<key>icon</key>
		<string>word_woman</string>
		<key>title</key>
		<string>女人</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
		</array>
	</dict>
	





</array>
</plist>
